[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tidyheatmaps"]
	path = tidyheatmaps
	url = https://github.com/jbengler/tidyheatmaps
